body{
    background-color:rgb(249, 255, 168)
}
#navbar {
    border-style: groove;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: saddlebrown;
}
.nav {
    
    width: 150px;
    height: 75px;
    border:solid;
}

a{
    text-decoration: none;
}