body{
    background-color: pink;
}

nav{
    display:flex;
    justify-content:left;
    width:30%;
    animation-name: stretch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.nav{
    margin:auto;
    height:30px;
    width: 60px;
    border: solid;
}
.container {
    margin:auto;
    height:1000px;
    width:95%;
    display:flex;
    flex-flow: row wrap;
    border: solid;
    margin: 5px;
    justify-content: center;
}

.box{
    flex:1;
    height:400px;
    width:300px;
    border:solid;
    margin: 5px;
    padding: 5px;

}
.box:first-child{
    margin-left: 0;
}
.box:last-child{
    margin-right: 0;
}
@keyframes stretch{
    from {width:30%;}
    to {width:100%}

}
@media screen and (max-width:980px) {
    .container .box {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .container .box:nth-last-child(2) {
        margin-right:0;
    }
    .container .box:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width:680px) {
    .container .box {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
    
}